*{
    padding: 0;
    margin: 0;
}
html, body{
    height: 100%;
}
.page_wrapper {
    height: 100%;
    width: 960px;
    margin: 0 auto;    
    display: flex;
    flex-direction: column;
}
header {
    padding: 5px;
    background-color: #AEFB00;
}
.logo {
    width: 48px;
    height: 48px;
}
.button{
    display: inline-flex;
    border: 1px solid yellowgreen;
    border-radius: 5px;
    padding: 5px 10px;
    color: rgb(12, 169, 180);
    font-weight: bold;
    background-image: linear-gradient(#a8eb12, #00bf72);
}
.button:hover{
    background-image: linear-gradient(#00bf72, #a8eb12);
    text-decoration: none;
}
.main{
    background-image: linear-gradient(to bottom, #a8eb12, #00bf72, #008793, #004d7a, #051937 );
    flex-grow: 1;
}
.content {    
    color: aquamarine;
    padding: 10px;    
}
.left_menu ul > li {
    list-style-type: none;
    border: 1px solid goldenrod;
    padding: 5px 15px;
    background-color: gold;
}
.left_menu ul > li a{
    display: block;
    color: aqua;
    text-decoration: none;
}
.left_menu > ul {
    margin-top: 10px;
}
footer {
    background-color: #010E21;
    color: aqua;
}
.creator {
    text-align: right;
}
.content_wrapper {
    display: flex;
    flex-direction: column;   
  align-items: center;
}